.home {
    margin: 0rem 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .4fr 1fr .5fr;
    grid-template-areas:
    '.       . .'
    'hc     hc img'
    'contact . .';
 
    overflow-x: hidden;
    
    .home-content{

        grid-area: hc;

        h1 {
            font-size: 2rem
        }

        h2 {
            font-weight: normal;
        }

        .type {
            display: inline-block; 
        }
    }

    #programmer {
        grid-area: img;
        max-width: 550px;
        justify-self: end;
    }

    #contact{
        grid-area: contact;
        margin-top: 5rem;

        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-size: 2rem;
        color: rgb(54, 14, 54);
    }
}

